body{
    min-height: 100vh;
    display: grid;
    place-items: center;
}
.slider{
    height: 200px;
    margin: auto;
    position: relative;
    width: 90px;
    display: grid;
    place-items: center;
}
.slide-track{
    display: flex;
    width: calc(250px*18);
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
}
img{
    width: 50%;
    
}